@font-face {
  font-family: "iconfont"; /* Project id 4312225 */
  src: url('iconfont.woff2?t=1699618578975') format('woff2'),
       url('iconfont.woff?t=1699618578975') format('woff'),
       url('iconfont.ttf?t=1699618578975') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e629";
}

.icon-fullscreen:before {
  content: "\e7ec";
}

.icon-validCode:before {
  content: "\e627";
}

.icon-exit-fullscreen:before {
  content: "\e628";
}

.icon-commodity:before {
  content: "\e600";
}

.icon-category:before {
  content: "\e848";
}

.icon-supplier:before {
  content: "\e609";
}

.icon-warehouse:before {
  content: "\eac9";
}

.icon-freight:before {
  content: "\eb9f";
}

.icon-owner:before {
  content: "\e786";
}

.icon-customer:before {
  content: "\e65b";
}

.icon-company:before {
  content: "\e655";
}

.icon-index:before {
  content: "\e64f";
}

.icon-form:before {
  content: "\e6a2";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-logininfor:before {
  content: "\e605";
}

.icon-tree-table:before {
  content: "\e762";
}

.icon-peoples:before {
  content: "\e67d";
}

.icon-system:before {
  content: "\e6a6";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-tool:before {
  content: "\e71c";
}

.icon-log:before {
  content: "\e608";
}

.icon-basic:before {
  content: "\e607";
}

