@font-face {
  font-family: "iconfont"; /* Project id 4312225 */
  src: url('iconfont.woff2?t=1701707184825') format('woff2'),
       url('iconfont.woff?t=1701707184825') format('woff'),
       url('iconfont.ttf?t=1701707184825') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-process:before {
  content: "\eb43";
}

.icon-combination:before {
  content: "\e62a";
}

.icon-move:before {
  content: "\e708";
}

.icon-adjust:before {
  content: "\ea12";
}

.icon-taking:before {
  content: "\e618";
}

.icon-operation:before {
  content: "\e62c";
}

.icon-separate:before {
  content: "\e7ed";
}

.icon-freeze:before {
  content: "\e615";
}

.icon-arrive:before {
  content: "\e6cf";
}

.icon-unload:before {
  content: "\e6d0";
}

.icon-sort:before {
  content: "\e67f";
}

.icon-actual:before {
  content: "\e70e";
}

.icon-detail:before {
  content: "\e601";
}

.icon-notice:before {
  content: "\e62e";
}

.icon-inventory:before {
  content: "\e661";
}

.icon-region:before {
  content: "\eabe";
}

.icon-location:before {
  content: "\ea32";
}

.icon-password:before {
  content: "\e629";
}

.icon-fullscreen:before {
  content: "\e7ec";
}

.icon-validCode:before {
  content: "\e627";
}

.icon-exit-fullscreen:before {
  content: "\e628";
}

.icon-commodity:before {
  content: "\e600";
}

.icon-category:before {
  content: "\e848";
}

.icon-supplier:before {
  content: "\e609";
}

.icon-warehouse:before {
  content: "\eac9";
}

.icon-freightFee:before {
  content: "\eb9f";
}

.icon-owner:before {
  content: "\e786";
}

.icon-customer:before {
  content: "\e65b";
}

.icon-company:before {
  content: "\e655";
}

.icon-index:before {
  content: "\e64f";
}

.icon-form:before {
  content: "\e6a2";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-logininfor:before {
  content: "\e605";
}

.icon-tree-table:before {
  content: "\e762";
}

.icon-peoples:before {
  content: "\e67d";
}

.icon-system:before {
  content: "\e6a6";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-tool:before {
  content: "\e71c";
}

.icon-log:before {
  content: "\e608";
}

.icon-basic:before {
  content: "\e607";
}

